/*--------------------------------------------------------
Responsive elements
--------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
                h1 { font-size: 68px;}
                .one-text { font-size: 16px;}
                #slidecaption { font-size: 68px }
                .slidedescription { font-size: 30px }
                .slider-text { bottom: 60px; } 
                .bg1, .bg3 { background-size: 150%;}
                .bg2 { background-size: 1280px;}
                #contact { background-size: 1437px; }
} 

@media only screen and (width: 1024px) {
                #contact { background-size: 1210px; }
                .card { margin: 60px 0 0 0; }
} 
 
@media only screen and (max-width: 767px) {
                h1 { font-size: 54px; line-height: 1; }
                .one-text { font-size: 16px; }
                #about h3 { font-size: 18px; }
                .project-title { font-size: 14px; }
                .project-description { font-size: 11px; }
                #slidecaption { font-size: 50px}
                .lines { font-size: 24px; }
                #contact { height: auto;}
                .contact-social-icons img { width: 40px; height: 40px; }
                .contact-social-icons li { margin: 0 5px 0 5px; }
                .links { display: none; }
                .dropmenu { display: block; margin-top: 5px; }
                .logo { width: 180px; height: auto; }
                .slidedescription { display: none; }
                .line { width: 80px; margin-bottom: 20px; }
                .social-icons { position: absolute; top: 6px; right:10px; margin-top: 0;}
                nav { height: 30px; }
                #homepage { margin-bottom: -30px; }
                .slider-text  { bottom: 50px; min-height: 80px; }
                #about, #resume, #services, #portfolio { padding-top: 32px; padding-bottom: 0px; }
                #prevslide, #nextslide{ position:absolute; height:15px; width:15px; top:50px; margin-top:-21px; opacity:0.6; }
                #resume h4 { padding-top: 27px; }
                .bg1, .bg2, .bg3 { background-size: 1000px; }
                .column .img-wrp { margin: 40px 0px 14px; }	
                #prevslide{ right:55px; background:url('../images/back-15.png'); }
				#nextslide{ right:30px; background:url('../images/forward-15.png'); }
				#contact { background-size: 720px; }
	
}
	
@media only screen and (max-width: 479px) {
                .lines, .adress{ font-size: 18px; }
                .slider-text  { bottom: 50px; min-height: 100px; }
                #prevslide, #nextslide{ position:absolute; height:15px; width:15px; top:100px; opacity:0.6; }
                #prevslide{ left:0; }
				#nextslide{ left:25px; }
				.logo { top: 20px; }
}

@media only screen and (min-width: 1400px) {
                nav .container,
                #homepage .container,
                #homepage .container
                .sixteen.columns
                { width: 96%; }

                nav .four.columns { float: right; }
                .slider-text { width: 100%; }
                .line { width: 180px; }
                
                #parallax1, #parallax2, #parallax3,
                #parallax1 .vertical-text, #parallax2 .vertical-text,
                #parallax3 .vertical-text, #parallax1 .pattern,
                #parallax2 .pattern, #parallax3 .pattern
                { height: 600px; }
                
                #prevslide, #nextslide{ position:absolute; height:30px; width:30px; top:210px; margin-top:-21px; opacity:0.6; }
                .bg1, .bg2, .bg3 { background-size: 100%; }
                
    } 